<%provide(:title , "Help" )%>
<html lang="en">
<head>
    <title><%=yield(:title)%> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
    <h1>Help</h1>
    <a href="https://www.railstutorial.org/help">Rails tutorial</a>
    to get hep on this sample 
    <a href="">book/pdf</a>
</body>
</html>